<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描Spring注解-->
    <context:component-scan base-package="com.yyh"/>
    <!--设置Thymeleaf-->
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/html/"/>
        <!--后缀-->
        <property name="suffix" value=".html"/>
        <!--类型-->
        <property name="templateMode" value="HTML"/>
        <!--缓存-->
        <property name="cacheable" value="true"/>
        <!--编码格式-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <!--调用试图解析器-->
        <property name="templateResolver" ref="templateResolver"/>
        <!--开启el表达式格式-->
        <property name="enableSpringELCompiler" value="true"/>
    </bean>

    <bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <!--使用设置-->
        <property name="templateEngine" ref="templateEngine"/>
        <!--试图解析编码格式-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>


    <!--加载静态资源-->
    <mvc:default-servlet-handler/>
    <!--启动MVC注解-->
    <mvc:annotation-driven/>


</beans>